.contain{
    margin: 5% 10% 0% 10%;
    margin-left: 200px;
    min-height: 100%;
}
.contain ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contain .headd{
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contain .headd p{
    font-size: 24px;
    margin-top: 10px;
    color:#fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contain .headd h1{
    color: #D75B18;
    font-weight:300;
    margin-top: 5px
}
.contain .headd h2{
    color: #3ab61bb7;
    font-weight:300;
}
.contain .headd h3{
    margin-top: 10px;
    color:#fff
}
.contain .headd h4{
    color:#ffffff75;
    font-size: 18px;
    text-decoration: underline dotted #ffffff75;
}
.item{
    width: 420px;
    height: 375px;
    border: 3px solid #181818;
    background-color: #181818;
    margin: 10px;
}
.item img{
    width: 416px;
}
.item .add_to_cart{
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-right:20px ;
    background-color: #5fbdce;
}
.add_to_cart:hover{
    background-color: #9ce9f7d7;
}
.add_to_cart:active{
    background-color: #0E5A6E;
}