body{
    background-color: #111;
}
.container{
    margin: 8% 10% 0% 10%;
}
.url{
    justify-content: flex-start;
}
.product{
    justify-content: center;
}
.box{
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
}
.box img{
    position: absolute;
    left: 85%;
    top:80%;
    transform: translate(-50%,-50%);
    scale: 2.5;
}
.text{
    overflow-wrap: break-word;
    width: 900px;
    background-color: #0E5A6E;
    padding: 20px;
    margin-left: 40px;
}
.text h1{
    font-size: 42px;
    margin: 10px 0px 20px;
    color:white;
}
.text h2{
    font-size: 22px;
    margin: 10px 0px 20px;
    line-height: 140%;
    color:white;
}
.text p{
    font-size: 30px;
    margin: 20px 0px 0px;
    line-height: 140%;
    color:white;
}
.text hr{
    width: 100%;
    color:white;
}
.j{
    justify-content:left;
}
.add_to_cart{
    cursor: pointer;
    border: none;
    padding: 20px;
    background-color: #5fbdce;
}
.add_to_cart h3{
    font-size: 25px;
}
.add_to_cart:hover{
    background-color: #9ce9f7d7;
}
.add_to_cart:active{
    background-color: #26dbdb;
}
.headd{
    padding-left: 20px;
    margin-right: 40px;
    overflow: hidden;
}
.headd h2{
    color:#ffffff75;
    font-size: 20px;
    text-decoration: underline dotted #ffffff75;
}